@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-family: "Raleway", sans-serif;
  text-align: left;
}

h3 {
  font-family: "Open Sans", sans-serif;
  text-align: left;
}

p {
  font-family: "Lato", sans-serif;
  text-align: left;
}

@layer utilities {
  .ease-in-out-anim {
    @apply transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110;
  }
}

@layer components {
  .heading-text {
    @apply font-heading font-extrabold leading-none tracking-tight xxs:text-base sm:text-lg md:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl 3xl:text-5xl;
  }

  .subheading-text {
    @apply font-subheading font-semibold xxs:text-xs sm:text-base md:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl 3xl:text-4xl;
  }

  .body-text {
    @apply font-body font-light leading-8 xxs:text-xs sm:text-base md:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl 3xl:text-4xl;
  }

  .cta-btn {
    @apply rounded-lg border-b-4 border-secondary bg-accent px-2 drop-shadow-lg hover:cursor-pointer hover:bg-accent/80 lg:w-full  dark:border-primary dark:bg-darkAccent dark:hover:bg-darkAccent/80;
  }

  .social-icons {
    @apply lg:ease-in-out-anim pr-4 text-accent xxs:text-4xl md:text-5xl lg:text-5xl xl:text-6xl 2xl:text-7xl 3xl:text-8xl dark:text-darkAccent;
  }
}
