@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-family: "Raleway", sans-serif;
  text-align: left;
}

h3 {
  font-family: "Open Sans", sans-serif;
  text-align: left;
}

p {
  font-family: "Lato", sans-serif;
  text-align: left;
}

@layer utilities {
  .ease-in-out-anim {
    @apply transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110;
  }
}

@layer components {
  .heading-text {
    @apply font-heading font-extrabold leading-normal tracking-tight xxs:text-sm sm:text-sm md:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl 3xl:text-4xl 5xl:text-5xl 6xl:text-6xl 9xl:text-8xl;
  }

  .subheading-text {
    @apply font-subheading font-semibold leading-normal xxs:text-xs md:text-sm lg:text-base xl:text-lg 2xl:text-xl 3xl:text-2xl 5xl:text-3xl 6xl:text-4xl 9xl:text-6xl;
  }

  .body-text {
    @apply font-body font-light leading-6 xxs:text-xs md:text-sm lg:text-base xl:text-lg 2xl:text-xl 3xl:text-xl 4xl:text-2xl 5xl:text-3xl 6xl:text-4xl 9xl:text-6xl;
  }

  .tech-text {
    @apply font-body font-light leading-6 xxs:text-xs md:text-sm lg:text-base xl:text-lg 2xl:text-xl 3xl:text-xl 4xl:text-2xl 5xl:text-3xl 6xl:text-4xl 9xl:text-6xl;
  }

  .cta-btn {
    @apply rounded-lg border-b-4 border-secondary bg-accent px-2 drop-shadow-lg hover:cursor-pointer hover:bg-accent/80 lg:w-full  dark:border-primary dark:bg-darkAccent dark:hover:bg-darkAccent/80;
  }

  .social-icons {
    @apply ease-in-out-anim pr-2 text-accent xxs:text-lg sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl 2xl:text-6xl 7xl:text-7xl 9xl:text-9xl dark:text-darkAccent;
  }
}
