
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide KwesForms default errors */
#field-error-name,
#field-error-email,
#field-error-subject,
#field-error-content,
.kw-alert,
.kw-alert-error {
    display: none !important;
}

/* Typography Components */
@layer components {
    .logo {
        @apply font-cinzel text-clamp-logo font-semibold;
    }

    .logo-text {
        @apply text-light-text-50 dark:text-dark-text-900;
    }

    .logo-accent {
        @apply text-light-accent-400 dark:text-dark-accent-500;
    }

    .h1-text {
        @apply font-heading text-clamp-h1 font-bold;
    }

    .h2-text {
        @apply font-heading font-semibold xs:text-xl lg:text-clamp-h2;
    }

    .h3-text {
        @apply font-heading font-semibold xs:text-lg lg:text-clamp-h3;
    }

    .h4-text {
        @apply font-heading font-semibold xs:text-base lg:text-clamp-h4;
    }

    .h5-text {
        @apply font-heading font-semibold xs:text-sm lg:text-clamp-h5;
    }

    .h6-text {
        @apply font-heading text-clamp-h6 font-semibold;
    }

    .body-text {
        @apply font-body text-clamp-p leading-relaxed;
    }

    .card-text {
        @apply font-body text-clamp-card leading-relaxed;
    }

    .info-text {
        @apply font-hind text-light-secondary-500 xs:text-xs sm:text-sm lg:text-clamp-info dark:text-dark-secondary-200;
    }
}

/* Layout & Container Components */
@layer components {
    .scroller {
        @apply flex h-screen w-screen snap-y flex-col overflow-x-hidden overflow-y-scroll scroll-smooth scrollbar-track-light-primary-900 scrollbar-thumb-light-accent-500 xs:scrollbar-thin lg:scrollbar dark:scrollbar-track-dark-primary-100 dark:scrollbar-thumb-dark-accent-500;
    }

    .hero-ctr {
        @apply m-2 xs:max-w-sm sm:max-w-md md:max-w-2xl lg:max-w-4xl xl:max-w-5xl 2xl:max-w-7xl 4xl:max-w-[90rem] 5xl:max-w-[100rem] 7xl:max-w-[115rem] 9xl:max-w-[160rem] 10xl:max-w-[180rem] 11xl:max-w-[200rem];
    }

    .form-ctr {
        @apply xs:mx-auto xs:max-w-sm md:max-w-[30rem] lg:max-w-2xl 2xl:max-w-[50rem] 3xl:max-w-[60rem] 4xl:max-w-[70rem] 6xl:max-w-[80rem] 7xl:max-w-[104rem] 9xl:max-w-[120rem] 11xl:max-w-[180rem];
    }

    .demo-ctr {
        @apply h-full xs:max-w-4xl 2xl:max-w-[100rem] 3xl:max-w-[110rem] 4xl:max-w-[120rem] 5xl:max-w-[130rem] 6xl:max-w-[140rem] 7xl:max-w-[150rem] 8xl:max-w-[160rem] 9xl:max-w-[170rem] 10xl:max-w-[180rem] 11xl:max-w-[190rem];
    }

    .section-ctr {
        @apply 9xl:my-6 10xl:my-8 11xl:my-12;
    }
}

/* Form & Input Components */
@layer components {
    .form-label {
        @apply h5-text font-subheading font-medium text-light-text-500 dark:text-dark-text-600;
    }

    .form-input {
        @apply body-text mt-2 w-full rounded-lg border-2 border-gray-300 px-4 py-2 text-light-text-600 transition-all duration-300 focus:border-light-accent-500 focus:outline-none focus:ring-2 focus:ring-light-accent-500 motion-reduce:transition-none 8xl:mt-6 dark:text-dark-text-300;
    }

    .form-submit {
        @apply rounded-lg border-b-4 border-light-accent-600 bg-light-accent-500 px-6 py-3 text-center font-body text-clamp-button font-medium text-white shadow-sm transition-colors duration-200 ease-in-out hover:bg-light-accent-600 motion-reduce:transition-none xs:w-full 7xl:border-b-[10px] 8xl:border-b-[15px] 8xl:px-12 8xl:py-6 9xl:px-12 dark:border-dark-accent-600 dark:bg-dark-accent-500 dark:hover:bg-dark-accent-600;
    }
}

/* Button & Tag Components */
@layer components {
    .tech-tag {
        @apply flex items-center rounded-xl bg-light-primary-600 font-inter text-clamp-tech text-white xs:h-6 xs:px-3 xs:py-1 lg:h-8 3xl:h-10 4xl:h-12 5xl:h-14 5xl:rounded-2xl 5xl:px-6 5xl:py-2 7xl:h-16 8xl:h-20 9xl:h-24 10xl:h-28 11xl:h-32 11xl:px-12 11xl:py-6 dark:bg-dark-primary-600;
    }
}

/* Icon Components */
@layer components {
    .social-icons {
        @apply text-light-accent-300 transition-colors duration-300 hover:text-light-accent-500 motion-reduce:transition-none xs:text-xl lg:text-clamp-icons dark:text-dark-accent-400 hover:dark:text-dark-accent-500;
    }
}

/* Links */
@layer components {
    .nav-link {
        @apply font-heading uppercase text-light-text-400 transition-colors duration-300 hover:text-light-accent-500 hover:underline motion-reduce:transition-none dark:text-dark-text-700 dark:hover:text-dark-accent-500;
    }

    .footer-link {
        @apply font-heading text-light-text-300 transition-colors duration-300 hover:text-light-accent-500 hover:underline motion-reduce:transition-none xs:text-lg lg:text-clamp-nav dark:text-dark-text-700 dark:hover:text-dark-accent-500;
    }

    .sitemap-link {
        @apply body-text text-light-text-600 transition-colors duration-300 hover:text-light-accent-500 hover:underline motion-reduce:transition-none dark:text-dark-text-700 dark:hover:text-dark-accent-500;
    }
}

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --radius-2xl: calc(var(--radius) + 8px);
    --radius-3xl: calc(var(--radius) + 12px);
    --radius-4xl: calc(var(--radius) + 16px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

:root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
}
