name: Lighthouse CI
run-name: Conduct tests on deployed site using Lighthouse CI
on:
  workflow_run:
    workflows:
      - Prettier Format Files
    types:
        - completed
jobs:
  lighthouse:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Audit URLs using Lighthouse
        uses: treosh/lighthouse-ci-action@v12
        with:
          urls: |
            https://vikiru.vercel.app/
            https://vikiru.vercel.app/about/
            https://vikiru.vercel.app/contact/
            https://vikiru.vercel.app/education/courses/
            https://vikiru.vercel.app/projects/
            https://vikiru.vercel.app/projects/Kelbrum/
            https://vikiru.vercel.app/projects/Parseum/
            https://vikiru.vercel.app/projects/RESTasaurus/
            https://vikiru.vercel.app/projects/Portfolio/
            https://vikiru.vercel.app/projects/Urvo/
            https://vikiru.vercel.app/projects/CodeSmell/
            https://vikiru.vercel.app/projects/discrete-sim/
            https://vikiru.vercel.app/projects/Mini-SurveyMonkey/
            https://vikiru.vercel.app/projects/Elevator-Simulator/
            https://vikiru.vercel.app/projects/digitalRisk/
          uploadArtifacts: true
          temporaryPublicStorage: true
